{% extends 'base.html' %}

{% block content %}
<h2>Mis Notas</h2>

{% if notas %}
<ul>
    {% for nota in notas %}
    <li>
        {{ nota }}
        <!-- Formulario para eliminar una nota -->
        <form method="post" action="{{ url_for('routes.delete_note', id=loop.index0) }}" style="display:inline;">
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay notas disponibles.</p>
{% endif %}

<a href="{{ url_for('routes.new_note') }}">Agregar nueva nota</a>
{% endblock %}
